/*语义化盒子*/
.comm-wrapper, .full-box {
    width: 100%;
    height: 100%;
}

/*宽高*/
.pctw5 {
    width: 5%;
}

.pctw10 {
    width: 10%;
}

.pctw15 {
    width: 15%;
}

.pctw20 {
    width: 20%;
}

.pctw25 {
    width: 25%;
}

.pctw30 {
    width: 30%;
}

.pctw35 {
    width: 35%;
}

.pctw40 {
    width: 40%;
}

.pctw45 {
    width: 45%;
}

.pctw50 {
    width: 50%;
}

.pctw55 {
    width: 55%;
}

.pctw60 {
    width: 60%;
}

.pctw65 {
    width: 65%;
}

.pctw70 {
    width: 70%;
}

.pctw75 {
    width: 75%;
}

.pctw80 {
    width: 80%;
}

.pctw85 {
    width: 85%;
}

.pctw80 {
    width: 80%;
}

.pctw85 {
    width: 85%;
}

.pctw90 {
    width: 90%;
}

.pctw95 {
    width: 95%;
}

.pctw100 {
    width: 100%;
}

.pcth5 {
    width: 5%;
}

.pcth10 {
    width: 10%;
}

.pcth15 {
    width: 15%;
}

.pcth20 {
    width: 20%;
}

.pcth25 {
    width: 25%;
}

.pcth30 {
    width: 30%;
}

.pcth35 {
    width: 35%;
}

.pcth40 {
    width: 40%;
}

.pcth45 {
    width: 45%;
}

.pcth50 {
    width: 50%;
}

.pcth55 {
    width: 55%;
}

.pcth60 {
    width: 60%;
}

.pcth65 {
    width: 65%;
}

.pcth70 {
    width: 70%;
}

.pcth75 {
    width: 75%;
}

.pcth80 {
    width: 80%;
}

.pcth85 {
    width: 85%;
}

.pcth80 {
    width: 80%;
}

.pcth85 {
    width: 85%;
}

.pcth90 {
    width: 90%;
}

.pcth95 {
    width: 95%;
}

.pcth100 {
    width: 100%;
}

/*通用margin*/

.pr0 {
    padding-right: 0 !important;
}

.pl0 {
    padding-left: 0 !important;
}

.p5 {
    padding: 5px;
}

.pl5 {
    padding-left: 5px;
}

.pt5 {
    padding-top: 5px;
}

.pr5 {
    padding-right: 5px;
}

.pb5 {
    padding-bottom: 5px;
}

.p10 {
    padding: 10px;
}

.pl10 {
    padding-left: 10px;
}

.pt10 {
    padding-top: 10px;
}

.pr10 {
    padding-right: 10px;
}

.pb10 {
    padding-bottom: 10px;
}

.p15 {
    padding: 15px;
}

.pl15 {
    padding-left: 15px;
}

.pt15 {
    padding-top: 15px;
}

.pr15 {
    padding-right: 15px;
}

.pb15 {
    padding-bottom: 15px;
}

.p20 {
    padding: 20px;
}

.pl20 {
    padding-left: 20px;
}

.pt20 {
    padding-top: 20px;
}

.pr20 {
    padding-right: 20px;
}

.pb20 {
    padding-bottom: 20px;
}

.p25 {
    padding: 25px;
}

.pl25 {
    padding-left: 25px;
}

.pt25 {
    padding-top: 25px;
}

.pr25 {
    padding-right: 25px;
}

.pb25 {
    padding-bottom: 25px;
}

.p30 {
    padding: 30px;
}

.pl30 {
    padding-left: 30px;
}

.pt30 {
    padding-top: 30px;
}

.pr30 {
    padding-right: 30px;
}

.pb30 {
    padding-bottom: 30px;
}

.p35 {
    padding: 35px;
}

.pl35 {
    padding-left: 35px;
}

.pt35 {
    padding-top: 35px;
}

.pr35 {
    padding-right: 35px;
}

.pb35 {
    padding-bottom: 35px;
}

.p40 {
    padding: 40px;
}

.pl40 {
    padding-left: 40px;
}

.pt40 {
    padding-top: 40px;
}

.pr40 {
    padding-right: 40px;
}

.pb40 {
    padding-bottom: 40px;
}

.pl50 {
    padding-left: 50px;
}

.m5 {
    margin: 5px;
}

.mt5 {
    margin-top: 5px;
}

.ml5 {
    margin-left: 5px;
}

.mr5 {
    margin-right: 5px;
}

.mb5 {
    margin-bottom: 5px;
}

.m10 {
    margin: 10px;
}

.mt10 {
    margin-top: 10px;
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.m15 {
    margin: 15px;
}

.mt15 {
    margin-top: 10px;
}

.ml15 {
    margin-left: 15px;
}

.mr15 {
    margin-right: 15px;
}

.mb15 {
    margin-bottom: 15px;
}

.m20 {
    margin: 20px;
}

.mt20 {
    margin-top: 20px;
}

.ml20 {
    margin-left: 20px;
}

.mr20 {
    margin-right: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.m25 {
    margin: 25px;
}

.mt25 {
    margin-top: 25px;
}

.ml25 {
    margin-left: 25px;
}

.mr25 {
    margin-right: 25px;
}

.mb25 {
    margin-bottom: 25px;
}

.m30 {
    margin: 30px;
}

.mt30 {
    margin-top: 30px;
}

.ml30 {
    margin-left: 30px;
}

.mr30 {
    margin-right: 30px;
}

.mb30 {
    margin-bottom: 30px;
}

.m35 {
    margin: 35px;
}

.mt35 {
    margin-top: 35px;
}

.ml35 {
    margin-left: 35px;
}

.mr35 {
    margin-right: 35px;
}

.mb35 {
    margin-bottom: 35px;
}

.m40 {
    margin: 40px;
}

.mt40 {
    margin-top: 40px;
}

.ml40 {
    margin-left: 40px;
}

.mr40 {
    margin-right: 40px;
}

.mb40 {
    margin-bottom: 40px;
}

/*浮动相关*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    *+height: 1%;
}

zoom {
    zoom: 1;
}

/*display相关*/
.dn {
    display: none;
}

.db {
    display: block;
}

.dib {
    -moz-inline-stack: inline-block;
    vertical-align: top;
    *display: inline;
    display: inline-block;
    zoom: 1;
}

.di {
    display: inline;
}

/*inline-block与float等宽列表*/
.inline-box {
    font-size: 1em;
    letter-spacing: -.25em;
    font-family: Arial;
}

.inline-2, .inline-3, .inline-4, .inline-5 .inline-6, .inline-any {
    display: inline-block;
    *display: inline;
    letter-spacing: 0;
    vertical-align: top;
    *zoom: 1;
}

.float-2, .float-3, .float-4, .float-5, .float-6 {
    float: left;
}

.inline-2, .float-2 {
    width: 49.9%;
}

.inline-3, .float-3 {
    width: 33.3%;
}

.inline-4, .float-4 {
    width: 24.9%;
}

.inline-5, .float-5 {
    width: 19.9%;
}

.inline-6, .float-6 {
    width: 16.6%;
}

.inline-fix {
    display: inline-block;
    width: 100%;
    height: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}

.list {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.justify-fix {
    display: inline-block;
    width: 100%;
    height: 0;
    overflow: hidden;
    vertical-align: top;
}

/*定位*/
.posr {
    position: relative;
}

.posa {
    position: absolute;
}

.posf {
    position: fixed;
}

/* 绝对定位隐藏 */
.posa-out {
    position: absolute;
    left: -999em;
    top: -999em;
}

.posa-clip {
    position: absolute;
    clip: rect(0 0 0 0);
}

/*弹性盒子*/
.flex {
    display: flex;
}

.flex-rev {
    flex-direction: column;
}

.flex-cc {
    justify-content: center;
    align-items: center;
}

.flex-sb-c {
    justify-content: space-between;
    align-items: center;
}

.flex-sb {
    justify-content: space-between;
}

.flex-sa {
    justify-content: space-around;
}

.flex-sa-c {
    justify-content: space-around;
    align-items: center;

}

.flex-fs {
    justify-content: flex-start;
}

.flex-fs-c {
    justify-content: flex-start;
    align-items: center;
}

.flex-fs-fe {
    justify-content: flex-start;
    align-items: flex-end;
}

.flex-fe {
    justify-content: flex-end;
}

.flex-fe-c {
    justify-content: flex-end;
}

.flex-fe-fe {
    justify-content: flex-end;
    align-items: flex-end;
}

/*flex子盒子*/
.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}

.flex-6 {
    flex: 6;
}

.flex-7 {
    flex: 7;
}

.flex-8 {
    flex: 8;
}

.flex-9 {
    flex: 9;
}

.flex-10 {
    flex: 10;
}

.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

[class^="text-ellipsis-"] {
    overflow:  hidden;
    display:  -webkit-box;
    -webkit-box-orient:  vertical;
    text-overflow: ellipsis;
}

.text-ellipsis-2 {
    -webkit-line-clamp:  2;
}

.text-ellipsis-3 {
    -webkit-line-clamp:  3;
}

.text-ellipsis-4 {
    -webkit-line-clamp:  4;
}

.red-1 {
    color: #fff1f0;
}

.red-2 {
    color: #ffccc7;
}

.red-3 {
    color: #ffa39e;
}

.red-4 {
    color: #ff7875;
}

.red-5 {
    color: #ff4d4f;
}

.red-6, .col-error {
    color: #f5222d;
}

.red-7 {
    color: #cf1322;
}

.red-8 {
    color: #a8071a;
}

.red-9 {
    color: #820014;
}

.red-10 {
    color: #5c0011;
}

.volcano-1 {
    color: #fff2e8
}

.volcano-2 {
    color: #ffd8bf
}

.volcano-3 {
    color: #ffbb96
}

.volcano-4 {
    color: #ff9c6e
}

.volcano-5 {
    color: #ff7a45
}

.volcano-6 {
    color: #fa541c
}

.volcano-7 {
    color: #d4380d
}

.volcano-8 {
    color: #ad2102
}

.volcano-9 {
    color: #871400
}

.volcano-10 {
    color: #610b00
}

.orange-1 {
    color: #fff7e6;
}

.orange-2 {
    color: #ffe7ba;
}

.orange-3 {
    color: #ffd591;
}

.orange-4 {
    color: #ffc069;
}

.orange-5 {
    color: #ffa940;
}

.orange-6 {
    color: #fa8c16;
}

.orange-7 {
    color: #d46b08;
}

.orange-8 {
    color: #ad4e00;
}

.orange-9 {
    color: #873800;
}

.orange-10 {
    color: #612500;
}

.gold-1 {
    color: #fffbe6;
}

.gold-2 {
    color: #fff1b8;
}

.gold-3 {
    color: #ffe58f;
}

.gold-4 {
    color: #ffd666;
}

.gold-5 {
    color: #ffc53d;
}

.gold-6, .col-waring {
    color: #faad14;
}

.gold-7 {
    color: #d48806;
}

.gold-8 {
    color: #ad6800;
}

.gold-9 {
    color: #874d00;
}

.gold-10 {
    color: #613400;
}

.yellow-1 {
    color: #feffe6;
}

.yellow-2 {
    color: #ffffb8;
}

.yellow-3 {
    color: #fffb8f;
}

.yellow-4 {
    color: #fff566;
}

.yellow-5 {
    color: #ffec3d;
}

.yellow-6 {
    color: #fadb14;
}

.yellow-7 {
    color: #d4b106;
}

.yellow-8 {
    color: #ad8b00;
}

.yellow-9 {
    color: #876800;
}

.yellow-10 {
    color: #614700;
}

.lime-1 {
    color: #fcffe6;
}

.lime-2 {
    color: #f4ffb8;
}

.lime-3 {
    color: #eaff8f;
}

.lime-4 {
    color: #d3f261;
}

.lime-5 {
    color: #bae637;
}

.lime-6 {
    color: #a0d911;
}

.lime-7 {
    color: #7cb305;
}

.lime-8 {
    color: #5b8c00;
}

.lime-9 {
    color: #3f6600;
}

.lime-10 {
    color: #254000;
}

.green-1 {
    color: #f6ffed;
}

.green-2 {
    color: #d9f7be;
}

.green-3 {
    color: #b7eb8f;
}

.green-4 {
    color: #95de64;
}

.green-5 {
    color: #73d13d;
}

.green-6, .col-success {
    color: #52c41a;
}

.green-7 {
    color: #389e0d;
}

.green-8 {
    color: #237804;
}

.green-9 {
    color: #135200;
}

.green-10 {
    color: #092b00;
}

.cyan-1 {
    color: #e6fffb;
}

.cyan-2 {
    color: #b5f5ec;
}

.cyan-3 {
    color: #87e8de;
}

.cyan-4 {
    color: #5cdbd3;
}

.cyan-5 {
    color: #36cfc9;
}

.cyan-6 {
    color: #13c2c2;
}

.cyan-7 {
    color: #08979c;
}

.cyan-8 {
    color: #006d75;
}

.cyan-9 {
    color: #00474f;
}

.cyan-10 {
    color: #002329;
}

.blue-1 {
    color: #e6f7ff;
}

.blue-2 {
    color: #bae7ff;
}

.blue-3 {
    color: #91d5ff;
}

.blue-4 {
    color: #69c0ff;
}

.blue-5 {
    color: #40a9ff;
}

.blue-6, .col-link {
    color: #1890ff;
}

.blue-7 {
    color: #096dd9;
}

.blue-8 {
    color: #0050b3;
}

.blue-9 {
    color: #003a8c;
}

.blue-10 {
    color: #002766;
}

.geekblue-1 {
    color: #f0f5ff;
}

.geekblue-2 {
    color: #d6e4ff;
}

.geekblue-3 {
    color: #adc6ff;
}

.geekblue-4 {
    color: #85a5ff;
}

.geekblue-5 {
    color: #597ef7;
}

.geekblue-6 {
    color: #2f54eb;
}

.geekblue-7 {
    color: #1d39c4;
}

.geekblue-8 {
    color: #10239e;
}

.geekblue-9 {
    color: #061178;
}

.geekblue-10 {
    color: #030852;
}

.purple-1 {
    color: #f9f0ff;
}

.purple-2 {
    color: #efdbff;
}

.purple-3 {
    color: #d3adf7;
}

.purple-4 {
    color: #b37feb;
}

.purple-5 {
    color: #9254de;
}

.purple-6 {
    color: #722ed1;
}

.purple-7 {
    color: #531dab;
}

.purple-8 {
    color: #391085;
}

.purple-9 {
    color: #22075e;
}

.purple-10 {
    color: #120338;
}

.magenta-1 {
    color: #fff0f6;
}

.magenta-2 {
    color: #ffd6e7;
}

.magenta-3 {
    color: #ffadd2;
}

.magenta-4 {
    color: #ff85c0;
}

.magenta-5 {
    color: #f759ab;
}

.magenta-6 {
    color: #eb2f96;
}

.magenta-7 {
    color: #c41d7f;
}

.magenta-8 {
    color: #9e1068;
}

.magenta-9 {
    color: #780650;
}

.magenta-10 {
    color: #520339;
}

.white {
    color: #fff;
}

.grey-2 {
    color: #fafafa;
}

.grey-3 {
    color: #f5f5f5;
}

.grey-4 {
    color: #e8e8e8;
}

.grey-5 {
    color: #d9d9d9;
}

.grey-6 {
    color: #bfbfbf;
}

.grey-7 {
    color: #8c8c8c;
}

.grey-8 {
    color: #595959;
}

.grey-9 {
    color: #262626;
}

.black {
    color: #000;
}

/*页面内容loading效果*/
@font-face {
    font-family: "Flow-Rounded";
    /*src: url("./static/font/Flow-Rounded.woff") format('woff');*/
    font-display: block;
}

.loading-mask {
    font-family: Flow-Rounded, sans-serif;
    text-align: center;
    background-image: -webkit-linear-gradient(left, #e6ecf1, #666666 25%, #7f7f7f 50%, #ECECEC 75%, #999999);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation: masked-animation 1s infinite linear;
}

@-webkit-keyframes masked-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0;
    }
}

/*滚动条*/
.thin-bar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.thin-bar::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
}

.thin-bar::-webkit-scrollbar-thumb:hover {
    background-color: #d1d1d1;
}

.thin-bar::-webkit-scrollbar-track-piece {
    background-color: #fff;
}

/*字号*/

.font12 {
    font-size: 12px;
}

.font14 {
    font-size: 14px;
}

.font16 {
    font-size: 16px;
}

.font18 {
    font-size: 18px;
}

.font20 {
    font-size: 20px;
}

.font22 {
    font-size: 22px;
}

.font24 {
    font-size: 24px;
}

.font26 {
    font-size: 26px;
}

.font28 {
    font-size: 28px;
}

.font30 {
    font-size: 30px;
}

.font32 {
    font-size: 32px;
}

.font34 {
    font-size: 34px;
}

.font36 {
    font-size: 36px;
}

.font38 {
    font-size: 38px;
}

.font40 {
    font-size: 40px;
}

.font42 {
    font-size: 42px;
}

.font46 {
    font-size: 46px;
}

.font48 {
    font-size: 48px;
}

.font50 {
    font-size: 50px;
}

.font52 {
    font-size: 52px;
}

.font54 {
    font-size: 54px;
}

.font56 {
    font-size: 56px;
}

.font58 {
    font-size: 58px;
}

.font60 {
    font-size: 60px;
}

.font62 {
    font-size: 62px;
}

.font64 {
    font-size: 64px;
}

.font68 {
    font-size: 68px;
}

.font70 {
    font-size: 70px;
}

.font72 {
    font-size: 72px;
}

.font74 {
    font-size: 74px;
}

.font76 {
    font-size: 76px;
}

.font78 {
    font-size: 78px;
}

.font80 {
    font-size: 80px;
}

.font82 {
    font-size: 82px;
}

.font84 {
    font-size: 84px;
}

.font86 {
    font-size: 86px;
}

.font88 {
    font-size: 88px;
}

.b {
    font-weight: 500;
}

.bs {
    font-weight: 300;
}

.bm {
    font-weight: 600;
}

.bl {
    font-weight: 700;
}

.tc {
    text-align: center;
}

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}

.t-lt {
    text-decoration: overline;
}

.t-lm {
    text-decoration: line-through;
}

.t-lb {
    text-decoration: underline;
}

.lh-1p5 {
    line-height: 1.5;
}

.lh-2 {
    line-height: 2;
}

.lh-2p5 {
    line-height: 2.5;
}

.lh-3 {
    line-height: 3;
}
